{% extends "pages/abstract/dashboard.html.twig" %}
{% block stylesheets_page %}
    <!-- Page-group-specific CSS asset bundle -->
    {{ assets.css('css/FormGeneratorJY') | raw }}
{% endblock %}
{% block page_title %}Calendar Sign Up{% endblock %}
{% block page_description %}{% endblock %}

{% block body_matter %}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header btn-group">
                  
                    <p>December 2017</p>
                    </div>                   
                    <div class="box-body">
                        <table class="tablesorter table table-bordered table-hover table-striped">
                        <thead>
                            <tr role="row">
                                <th width="14.285714%">Su</th>
                                <th width="14.285714%">Mo</th>
                                <th width="14.285714%">Tu</th>
                                <th width="14.285714%">We</th>
                                <th width="14.285714%">Th</th>
                                <th width="14.285714%">Fr</th>
                                <th width="14.285714%">Sa</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr role="row">
                                <td>
                                    26
                                </td>
                                <td>
                                    27
                                </td>
                                <td>
                                    28
                                </td>
                                <td>
                                    29
                                </td>
                                <td>
                                    30
                                </td>
                                <td>
                                    <strong class="clcolor">1</strong><br>
                                    {% if gm1Num1 > 0 or player1Num1 > 0 %}    
                                    <strong>1am:</strong>
                                    {% endif %}
                                    {% if gm1Num1 > 0 %}    
                                        {{gm1Num1}} GM;
                                    {% endif %}
                                    {% if gm1Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player1Num1 > 0 %}    
                                        {{player1Num1}} P;
                                    {% endif %}
                                    {% if player1Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm2Num1 > 0 or player2Num1 > 0 %}    
                                    <strong>2am:</strong>
                                    {% endif %}
                                    {% if gm2Num1 > 0 %}    
                                        {{gm2Num1}} GM;
                                    {% endif %}
                                    {% if gm2Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player2Num1 > 0 %}    
                                        {{player2Num1}} P;
                                    {% endif %}
                                    {% if player2Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                   
                                    {% if gm3Num1 > 0 or player3Num1 > 0 %}    
                                    <strong>3am:</strong>
                                    {% endif %}
                                    {% if gm3Num1 > 0 %}    
                                        {{gm3Num1}} GM;
                                    {% endif %}
                                    {% if gm3Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player3Num1 > 0 %}    
                                        {{player3Num1}} P;
                                    {% endif %}
                                    {% if player3Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm4Num1 > 0 or player4Num1 > 0 %}    
                                    <strong>4am:</strong>
                                    {% endif %}
                                    {% if gm4Num1 > 0 %}    
                                        {{gm4Num1}} GM;
                                    {% endif %}
                                    {% if gm4Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player4Num1 > 0 %}    
                                        {{player4Num1}} P;
                                    {% endif %}
                                    {% if player4Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm5Num1 > 0 or player5Num1 > 0 %}    
                                    <strong>5am:</strong>
                                    {% endif %}
                                    {% if gm5Num1 > 0 %}    
                                        {{gm5Num1}} GM;
                                    {% endif %}
                                    {% if gm5Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player5Num1 > 0 %}    
                                        {{player5Num1}} P;
                                    {% endif %}
                                    {% if player5Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm6Num1 > 0 or player6Num1 > 0 %}    
                                    <strong>6am:</strong>
                                    {% endif %}
                                    {% if gm6Num1 > 0 %}    
                                        {{gm6Num1}} GM;
                                    {% endif %}
                                    {% if gm6Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player6Num1 > 0 %}    
                                        {{player6Num1}} P;
                                    {% endif %}
                                    {% if player6Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm7Num1 > 0 or player7Num1 > 0 %}    
                                    <strong>7am:</strong>
                                    {% endif %}
                                    {% if gm7Num1 > 0 %}    
                                        {{gm7Num1}} GM;
                                    {% endif %}
                                    {% if gm7Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player7Num1 > 0 %}    
                                        {{player7Num1}} P;
                                    {% endif %}
                                    {% if player7Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm8Num1 > 0 or player8Num1 > 0 %}    
                                    <strong>8am:</strong>
                                    {% endif %}
                                    {% if gm8Num1 > 0 %}    
                                        {{gm8Num1}} GM;
                                    {% endif %}
                                    {% if gm8Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player8Num1 > 0 %}    
                                        {{player8Num1}} P;
                                    {% endif %}
                                    {% if player8Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm9Num1 > 0 or player9Num1 > 0 %}    
                                    <strong>9am:</strong>
                                    {% endif %}
                                    {% if gm9Num1 > 0 %}    
                                        {{gm9Num1}} GM;
                                    {% endif %}
                                    {% if gm9Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player9Num1 > 0 %}    
                                        {{player9Num1}} P;
                                    {% endif %}
                                    {% if player9Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm10Num1 > 0 or player10Num1 > 0 %}    
                                    <strong>10am:</strong>
                                    {% endif %}
                                    {% if gm10Num1 > 0 %}    
                                        {{gm10Num1}} GM;
                                    {% endif %}
                                    {% if gm10Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player10Num1 > 0 %}    
                                        {{player10Num1}} P;
                                    {% endif %}
                                    {% if player10Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm11Num1 > 0 or player11Num1 > 0 %}    
                                    <strong>11am:</strong>
                                    {% endif %}
                                    {% if gm11Num1 > 0 %}    
                                        {{gm11Num1}} GM;
                                    {% endif %}
                                    {% if gm11Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player11Num1 > 0 %}    
                                        {{player11Num1}} P;
                                    {% endif %}
                                    {% if player11Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm12Num1 > 0 or player12Num1 > 0 %}    
                                    <strong>12pm:</strong>
                                    {% endif %}
                                    {% if gm12Num1 > 0 %}    
                                        {{gm12Num1}} GM;
                                    {% endif %}
                                    {% if gm12Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player12Num1 > 0 %}    
                                        {{player12Num1}} P;
                                    {% endif %}
                                    {% if player12Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm13Num1 > 0 or player13Num1 > 0 %}    
                                    <strong>1pm:</strong>
                                    {% endif %}
                                    {% if gm13Num1 > 0 %}    
                                        {{gm13Num1}} GM;
                                    {% endif %}
                                    {% if gm13Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player13Num1 > 0 %}    
                                        {{player13Num1}} P;
                                    {% endif %}
                                    {% if player13Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm14Num1 > 0 or player14Num1 > 0 %}    
                                    <strong>2pm:</strong>
                                    {% endif %}
                                    {% if gm14Num1 > 0 %}    
                                        {{gm14Num1}} GM;
                                    {% endif %}
                                    {% if gm14Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player14Num1 > 0 %}    
                                        {{player14Num1}} P;
                                    {% endif %}
                                    {% if player14Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm15Num1 > 0 or player15Num1 > 0 %}    
                                    <strong>3pm:</strong>
                                    {% endif %}
                                    {% if gm15Num1 > 0 %}    
                                        {{gm15Num1}} GM;
                                    {% endif %}
                                    {% if gm15Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player15Num1 > 0 %}    
                                        {{player15Num1}} P;
                                    {% endif %}
                                    {% if player15Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm16Num1 > 0 or player16Num1 > 0 %}    
                                    <strong>4pm:</strong>
                                    {% endif %}
                                    {% if gm16Num1 > 0 %}    
                                        {{gm16Num1}} GM;
                                    {% endif %}
                                    {% if gm16Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player16Num1 > 0 %}    
                                        {{player16Num1}} P;
                                    {% endif %}
                                    {% if player16Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm17Num1 > 0 or player17Num1 > 0 %}    
                                    <strong>5pm:</strong>
                                    {% endif %}
                                    {% if gm17Num1 > 0 %}    
                                        {{gm17Num1}} GM;
                                    {% endif %}
                                    {% if gm17Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player17Num1 > 0 %}    
                                        {{player17Num1}} P;
                                    {% endif %}
                                    {% if player17Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm18Num1 > 0 or player18Num1 > 0 %}    
                                    <strong>6pm:</strong>
                                    {% endif %}
                                    {% if gm18Num1 > 0 %}    
                                        {{gm18Num1}} GM;
                                    {% endif %}
                                    {% if gm18Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player18Num1 > 0 %}    
                                        {{player18Num1}} P;
                                    {% endif %}
                                    {% if player18Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm19Num1 > 0 or player19Num1 > 0 %}    
                                    <strong>7pm:</strong>
                                    {% endif %}
                                    {% if gm19Num1 > 0 %}    
                                        {{gm19Num1}} GM;
                                    {% endif %}
                                    {% if gm19Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player19Num1 > 0 %}    
                                        {{player19Num1}} P;
                                    {% endif %}
                                    {% if player19Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm20Num1 > 0 or player20Num1 > 0 %}    
                                    <strong>8pm:</strong>
                                    {% endif %}
                                    {% if gm20Num1 > 0 %}    
                                        {{gm20Num1}} GM;
                                    {% endif %}
                                    {% if gm20Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player20Num1 > 0 %}    
                                        {{player20Num1}} P;
                                    {% endif %}
                                    {% if player20Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm21Num1 > 0 or player21Num1 > 0 %}    
                                    <strong>9pm:</strong>
                                    {% endif %}
                                    {% if gm21Num1 > 0 %}    
                                        {{gm21Num1}} GM;
                                    {% endif %}
                                    {% if gm21Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player21Num1 > 0 %}    
                                        {{player21Num1}} P;
                                    {% endif %}
                                    {% if player21Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm22Num1 > 0 or player22Num1 > 0 %}    
                                    <strong>10pm:</strong>
                                    {% endif %}
                                    {% if gm22Num1 > 0 %}    
                                        {{gm22Num1}} GM;
                                    {% endif %}
                                    {% if gm22Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player22Num1 > 0 %}    
                                        {{player22Num1}} P;
                                    {% endif %}
                                    {% if player22Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm23Num1 > 0 or player23Num1 > 0 %}    
                                    <strong>11pm:</strong>
                                    {% endif %}
                                    {% if gm23Num1 > 0 %}    
                                        {{gm23Num1}} GM;
                                    {% endif %}
                                    {% if gm23Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player23Num1 > 0 %}    
                                        {{player23Num1}} P;
                                    {% endif %}
                                    {% if player23Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    {% if gm24Num1 > 0 or player24Num1 > 0 %}    
                                    <strong>12am:</strong>
                                    {% endif %}
                                    {% if gm24Num1 > 0 %}    
                                        {{gm24Num1}} GM;
                                    {% endif %}
                                    {% if gm24Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if player24Num1 > 0 %}    
                                        {{player24Num1}} P;
                                    {% endif %}
                                    {% if player24Self1 %}    
                                        <i class="fa fa-check check-color" aria-hidden="true"></i><br>
                                    {% endif %}
                                    
                                    <a href="#" class="js-displayForm" data-toggle="modal" data-formUrl="/calendar/new">Join</a>
                                    <a href="#" class="js-displayForm" data-toggle="modal" data-formUrl="/calendar/{{calendar1.id}}/edit">Change</a>
                                    <a href="#" class="js-displayConfirm" data-confirm-title="Cancel" data-confirm-message="Are your sure you want to cancel the game session" data-confirm-button="Yes" data-post-url="/calendar/{{calendar1.id}}" data-post-method="DELETE" data-toggle="modal">Cancel</a>
                                </td>
                                <td>
                                    <strong>2</strong><br>
                                    {% if gmNum2 == 1 %}  
                                         {{gmNum2}} GMs<br>
                                    {% endif %}
                                    {% if gmSelf2 %}    
                                        <i class="fa fa-check" aria-hidden="true"></i><br>
                                    {% endif %}
                                    {{playerNum2}} Players<br>
                                    {{gmSelf2}}
                                    {{playerSelf2}}<br>
                                    <a href="#" class="js-displayForm" data-toggle="modal" data-formUrl="/calendar/2/new">Join</a>
                                    <a href="#" class="js-displayForm" data-toggle="modal" data-formUrl="/calendar/2/{{calendar2.id}}/edit">Change</a>
                                    <a href="#" class="js-displayConfirm" data-confirm-title="Cancel" data-confirm-message="Are your sure you want to cancel the game session" data-confirm-button="Yes" data-post-url="/calendar/2/{{calendar2.id}}" data-post-method="DELETE" data-toggle="modal">Cancel</a>
                                </td>
                                
                            </tr>
                            <tr role="row">
                                <td>
                                    <strong>3</strong><br>
                                    {{gmNum1}} GMs<br>
                                    {{playerNum1}} Players<br>
                                    {{gmSelf1}}
                                    {{playerSelf1}}<br>
                                    <a href="#" class="js-displayForm" data-toggle="modal" data-formUrl="/calendar/new">Join</a>
                                    <a href="#" class="js-displayForm" data-toggle="modal" data-formUrl="/calendar/{{calendar1.id}}/edit">Change</a>
                                    <a href="#" class="js-displayConfirm" data-confirm-title="Cancel" data-confirm-message="Are your sure you want to cancel the game session" data-confirm-button="Yes" data-post-url="/calendar/{{calendar1.id}}" data-post-method="DELETE" data-toggle="modal">Cancel</a>
                                </td>
                                <td>
                                    <strong>4</strong><br>
                                    GMs signed up:{{gmNum1}}<br>
                                    Players signed up:{{playerNum1}}<br>
                                    {{gmSelf1}}
                                    {{playerSelf1}}<br>
                                    <a href="#" class="js-displayForm" data-toggle="modal" data-formUrl="/calendar/new">Join</a>
                                    <a href="#" class="js-displayForm" data-toggle="modal" data-formUrl="/calendar/{{calendar1.id}}/edit">Change</a>
                                    <a href="#" class="js-displayConfirm" data-confirm-title="Cancel" data-confirm-message="Are your sure you want to cancel the game session" data-confirm-button="Yes" data-post-url="/calendar/{{calendar1.id}}" data-post-method="DELETE" data-toggle="modal">Cancel</a>
                                </td>
                                <td>
                                    <strong>5</strong>
                                </td>
                                <td>
                                    <strong>6</strong>
                                </td>
                                <td>
                                    <strong>7</strong>
                                </td>
                                <td>
                                    <strong>8</strong>
                                  
                                </td>
                                <td>
                                    <strong>9</strong>
                                    
                                </td>
                                
                            </tr>
                            <tr role="row">
                                <td>
                                    <strong>10</strong>
                                </td>
                                <td>
                                    <strong>11</strong>
                                </td>
                                <td>
                                    <strong>12</strong>
                                </td>
                                <td>
                                    <strong>13</strong>
                                </td>
                                <td>
                                    <strong>14</strong>
                                </td>
                                <td>
                                    <strong>15</strong>
                                  
                                </td>
                                <td>
                                    <strong>16</strong>
                                    
                                </td>
                                
                            </tr>
                            <tr role="row">
                                <td>
                                    <strong>17</strong>
                                </td>
                                <td>
                                    <strong>18</strong>
                                </td>
                                <td>
                                    <strong>19</strong>
                                </td>
                                <td>
                                    <strong>20</strong>
                                </td>
                                <td>
                                    <strong>21</strong>
                                </td>
                                <td>
                                    <strong>22</strong>
                                  
                                </td>
                                <td>
                                    <strong>23</strong>
                                    
                                </td>
                                
                            </tr>
                            <tr role="row">
                                <td>
                                    <strong>24</strong>
                                </td>
                                <td>
                                    <strong>25</strong>
                                </td>
                                <td>
                                    <strong>26</strong>
                                </td>
                                <td>
                                    <strong>27</strong>
                                </td>
                                <td>
                                    <strong>28</strong>
                                </td>
                                <td>
                                    <strong>29</strong>
                                  
                                </td>
                                <td>
                                    <strong>30</strong>
                                    
                                </td>
                                
                            </tr>
                            <tr role="row">
                                <td>
                                    <strong>31</strong>
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                   4
                                </td>
                                <td>
                                    5
                                  
                                </td>
                                <td>
                                    6
                                    
                                </td>
                                
                            </tr>
                        </tbody>
                        </table>
                    </div><!-- /.box-body -->
                   
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
{% endblock %}

{% block scripts_page %}
    
    {{ assets.js('js/FormGeneratorJY') | raw }}
{% endblock %}
